{"swagger":"2.0","info":{"version":"","title":"Customer_v2","license":{"name":"MIT","url":"http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"}},"host":"ignitexml.internal.t-mobile.com","basePath":"/rest/servicecontract/18977824/swagger/2.0/Customer_v2","securityDefinitions":{},"schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/v1/customer":{"post":{"description":"createCustomer","tags":["Customer_v2"],"operationId":"createCustomer_","produces":["application/json"],"parameters":[{"name":"customer","in":"body","required":true,"x-is-map":false,"description":"","schema":{"$ref":"#/definitions/customer"}},{"name":"Authorization","in":"header","required":true,"x-is-map":false,"type":"string"},{"name":"Content-type","in":"header","required":true,"x-is-map":false,"type":"string"},{"name":"Accept","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"applicationuserid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"sessionid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"interactionid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"activityid","in":"header","required":true,"x-is-map":false,"type":"string"},{"name":"workflowid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"timestamp","in":"header","required":false,"x-is-map":false,"type":"string","format":"date-time"},{"name":"storeid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"terminalid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"tillid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"dealercode","in":"header","required":false,"x-is-map":false,"type":"integer","format":"int32"},{"name":"segmentationid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"authcustomerid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"authfinancialaccountid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"authlineofserviceid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"Access-Control-Request-Headers","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"Access-Control-Request-Method","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"If-Match","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"If-Modified-Since","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"If-None-Match","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"Origin","in":"header","required":false,"x-is-map":false,"type":"string"}],"responses":{"200":{"description":"no description","schema":{"$ref":"#/definitions/customers"}}}}},"/v1/creditinfo":{"put":{"description":"UpdateCreditinfo","tags":["Customer_v2"],"operationId":"updateCreditInfo_","produces":["application/json"],"parameters":[{"name":"creditProfile","in":"body","required":true,"x-is-map":false,"description":"","schema":{"$ref":"#/definitions/creditProfile"}},{"name":"Authorization","in":"header","required":true,"x-is-map":false,"type":"string"},{"name":"Content-type","in":"header","required":true,"x-is-map":false,"type":"string"},{"name":"Accept","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"applicationuserid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"sessionid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"interactionid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"activityid","in":"header","required":true,"x-is-map":false,"type":"string"},{"name":"workflowid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"timestamp","in":"header","required":false,"x-is-map":false,"type":"string","format":"date-time"},{"name":"storeid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"terminalid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"tillid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"dealercode","in":"header","required":false,"x-is-map":false,"type":"integer","format":"int32"},{"name":"segmentationid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"authcustomerid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"authfinancialaccountid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"authlineofserviceid","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"Access-Control-Request-Headers","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"Access-Control-Request-Method","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"If-Match","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"If-Modified-Since","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"If-None-Match","in":"header","required":false,"x-is-map":false,"type":"string"},{"name":"Origin","in":"header","required":false,"x-is-map":false,"type":"string"}],"responses":{"200":{"description":"no description","schema":{"type":"object"}}}}}},"definitions":{"creditProfile":{"title":"creditProfile","type":"object","properties":{"commonCustomerId":{"description":"Universal identifier of the customer, as defined in Customer Hub.","type":"string"},"fullName":{"description":"The full name of the person, including first, middle, and family names.","type":"string"},"firstName":{"description":"The given name or first name of the person","type":"string"},"middleName":{"description":"The middle name or middle initial of the person.","type":"string"},"familyName":{"description":"The family name or surname or last name of the person.","type":"string"},"title":{"type":"string"},"prefix":{"type":"string"},"suffix":{"type":"string"},"creditLimitAmount":{"description":"The total amount that the customer is allowed to spend on purchases.","type":"number","format":"double"},"creditScore":{"description":"Indicates the credit score of the customer. Primary credit score used in credit decision for population in regulatory notices.","type":"integer","format":"int32"},"creditStatus":{"description":"Status of the customers credit application","type":"string"},"creditApplicationReference":{"description":"Reference number for cross reference to credit decisioning system.","type":"string"},"creditCheckConsentIndicator":{"description":"Indicates that the Customer actively consented to having a credit check performed.","type":"string"},"classificationCode":{"description":"Credit class.","type":"string"}}},"customer":{"title":"customer","type":"object","properties":{"commonCustomerId":{"description":"Universal identifier of the customer, as defined in Customer Hub.","type":"string"},"fullName":{"description":"The full name of the person, including first, middle, and family names.","type":"string"},"firstName":{"description":"The given name or first name of the person","type":"string"},"middleName":{"description":"The middle name or middle initial of the person.","type":"string"},"familyName":{"description":"The family name or surname or last name of the person.","type":"string"},"title":{"type":"string"},"prefix":{"type":"string"},"suffix":{"type":"string"},"tenure":{"description":"The duration of the account of this customer with T-Mobile. How long have they been our customer?","type":"string"},"linesCount":{"description":"Total number of lines.","type":"integer","format":"int32"},"activeLinesCount":{"description":"Total number of active lines.","type":"integer","format":"int32"},"eligibleLinesCount":{"description":"Total number of eligible lines.","type":"integer","format":"int32"},"availableBalance":{"description":"Total dollar balance available for the account as a whole.","type":"number","format":"double"},"serviceStartDate":{"type":"string","format":"date-time"},"accountsCount":{"description":"The number of financial accounts that the customer has with T-Mobile.","type":"integer","format":"int32"},"customerBlocked":{"description":"Indicates if the customer has a negative file or not.","type":"boolean"},"phoneNumber":{"description":"The phone number to be used to contact the customer.","type":"string"},"emailCommunication":{"description":"Information for electronic mail communication (email).","type":"array","items":{"$ref":"#/definitions/EmailCommunication"}},"addresses":{"description":"Addresses recorded for the customer.","type":"array","items":{"$ref":"#/definitions/Address"}},"accounts":{"description":"Financial accounts for which the customer is responsible.","type":"array","items":{"$ref":"#/definitions/Account"}},"notes":{"type":"array","items":{"$ref":"#/definitions/Note"}},"customerRoles":{"type":"array","items":{"$ref":"#/definitions/CustomerRole"}},"sanctionFlag":{"type":"boolean"},"sanctionDate":{"type":"string","format":"date-time"},"activeDutyMilitaryFlag":{"type":"boolean"},"activeDutyMilitaryDate":{"type":"string","format":"date-time"},"creditProfile":{"$ref":"#/definitions/CreditProfile7"}}},"EmailCommunication":{"title":"EmailCommunication","type":"object","properties":{"purposes":{"description":"The purpose for which this email address should be used.","type":"array","items":{"type":"string"}},"emailAddress":{"description":"The email address used for the given purpose.","type":"string"}}},"Address":{"title":"Address","type":"object","properties":{"purposes":{"description":"The purpose or usage context for which the address should be used.","type":"array","items":{"type":"string"}},"addressLine1":{"description":"The first line of the address, required.","type":"string"},"addressLine2":{"description":"The second line of the address, optional.","type":"string"},"addressLine3":{"description":"The third line of the address, optional.","type":"string"},"cityName":{"description":"The name of the city in the mailing address. For military or diplomatic addresses should contain FPO, APO, or DPO.","type":"string"},"stateCode":{"description":"The two letter state code.","type":"string"},"zip":{"description":"The 5 digit zip or postal delivery code.","type":"string"},"zipExt":{"description":"The zip or postal delivery extension.","type":"string"},"addressFormatType":{"type":"string"},"default":{"description":"Flags the address to be used for default communications.","type":"string"}}},"Account":{"title":"Account","type":"object","properties":{"accountNumber":{"description":"The financial account number that identifies the account.","type":"string"},"status":{"description":"The current status of the account.","type":"string"},"statusChangeDate":{"description":"Account status change date","type":"string","format":"date-time"}}},"Note":{"title":"Note","type":"object","properties":{"noteType":{"description":"Type of the note.","type":"string"},"content":{"description":"Text content of the note.","type":"string"}}},"CustomerRole":{"title":"CustomerRole","type":"object","properties":{"accountNumber":{"description":"Customer account number","type":"string"},"phoneNumber":{"description":"Phone number","type":"string"},"lineId":{"description":"Line Identification","type":"string"},"roleType":{"description":"Type of role","type":"string"}}},"CreditProfile7":{"title":"CreditProfile7","type":"object","properties":{"creditLimitAmount":{"description":"The total amount that the customer is allowed to spend on purchases.","type":"number","format":"double"},"creditScore":{"description":"Indicates the credit score of the customer. Primary credit score used in credit decision for population in regulatory notices.","type":"integer","format":"int32"},"creditStatus":{"description":"Status of the customers credit application","type":"string"},"creditApplicationReference":{"description":"Reference number for cross reference to credit decisioning system.","type":"string"},"creditCheckConsentIndicator":{"description":"Indicates that the Customer actively consented to having a credit check performed.","type":"string"},"classificationCode":{"description":"Credit class.","type":"string"}}},"customers":{"title":"customers","type":"object","properties":{"customer":{"type":"array","items":{"$ref":"#/definitions/customer"}}}}}}
